* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hover-highlight:hover {
  color: blue;
}

select,
input {
  background-color: #1e1e1e;
  color: white;
  padding: 2px;
  border: 1px solid white;
  margin: 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
